@import "../styles/variables";

.main-container {
  padding: 2.5rem 1rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-90;
  border-radius: 1.2rem;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  .card-head {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    p {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .card-foot {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
  }
}

.title {
  p {
    font-size: 3rem;
    line-height: 3.4rem;
    font-weight: 700;
  }

  img {
    display: none;
  }

  .nix {
    color: $additional-color-1;
  }

  .hub {
    color: $primary-color-100;
  }
}

@media (min-width: $tablet) {
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .title {
    padding: 4rem 0;
    img {
      display: block;
      width: 30%;
      height: auto;
    }

    p {
      font-size: 4.5rem;
      line-height: 100%;
    }
  }

  .cards-container {
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 3rem 0;
    justify-content: space-around;
    margin-right: -1rem;
  }

  .card {
    min-width: 320px;

    .card-head {
      p {
        font-size: 2rem;
        font-weight: 600;
      }
    }
    .card-body {
      height: 14rem;
      width: 100%;
    }
  }
}

@media (min-width: $desktop) {
  .main-container {
    padding: 2.5rem 3rem;

    .card-head {
      p {
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
  }
  .cards-container {
    padding-left: 0;
  }

  .title {
    p {
      font-size: 8rem;
    }
  }
}
