// Variables
//***************************************************************
//primary colors
$primary-color-100: #00aeef;
$primary-color-90: #212428;
//neutral colors
$neutral-color-100: #191c1e;
$neutral-color-90: #212428;
$neutral-color-60: #585858;
$neutral-color-40: #a2a2a2;
$neutral-color-0: #ffffff;
//additional colors
$additional-color-1: #ed1847;
$additional-color-2: #fdffa3;
$additional-color-3: #ff9ef0;
$additional-color-4: #99e3ff;
$additional-color-5: #c2ff3d;
$additional-color-6: #dfa800;
//***************************************************************
// Breakpoints
$mobile: 320px;
$tablet: 834px;
$desktop: 1440px;
