<footer class="header">
  <div class="container">
    <img src="../../../images/icons/logo_big.png" alt="NIX-logo" />

    <div class="tasks">
      <a href="/notes.html" class="menu-item">Sticky Pad</a>
      <a href="/calculator.html" class="menu-item">Calculator</a>
      <a href="/weather.html" class="menu-item">Weather</a>
      <a href="/about.html" class="menu-item">About</a>
    </div>

    <div class="button-group">
      <button class="btn-secondary">Support</button>
      <button class="btn-primary">Contact Us</button>
    </div>
  </div>
</footer>
