<header class="header" ata-testid="header">
  <div class="container-header">
    <div class="top-bar">
      <a href="/index.html">
        <img src="../../../images/icons/logo_big.png" alt="NIX-logo" />
      </a>
      <button type="button" class="nav-toggle" id="nav-toggle">
        <span class="toggle-icon"></span>
        <span class="hamburger">Menu</span>
      </button>
    </div>

    <div class="nav-content" id="nav-content">
      <div class="tasks">
        <a href="/index.html">TASKS</a>
        <a href="https://nixstech.com/" class="menu-item">ABOUT</a>
      </div>

      <div class="button-group">
        <a href="https://nixstech.com/contact/" class="btn-link">
          <button class="btn-secondary header-btn">SUPPORT</button>
        </a>

        <a href="https://nixstech.com/contact/" class="btn-link">
          <button class="btn-primary header-btn">CONTACT US</button>
        </a>
      </div>
    </div>
  </div>
</header>
