<footer class="footer">
    <div class="container">
        <a href="/index.html">
        <img src="../../../images/icons/logo_big.png" alt="NIX-logo" class="logo" data-testid="footer-logo"></a>

        <div class="lower-bar">
        <div class="footer-links">
            <a href="/index.html">Tasks</a>
            <a href="https://nixstech.com/">About</a>
            <a href="">Terms & Conditions</a>
            <a href="https://nixstech.com/privacy-policy/">Privacy Policy</a>
        </div>

        <div class="social">
            <span>Our socials</span>
            <div class="social-icons" data-testid="footer-socials">
                <a href="https://www.facebook.com/nix.europe/"><img src="../../../images/icons//facebook-logo.png" alt="facebook"></a>
                <a href="https://www.instagram.com/nix.europe/"><img src="../../../images/icons/instagram-logo.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/company/nix-europe/posts/?feedView=all"><img src="../../../images/icons/linkedin-logo.png" alt="linkedin"></a>
        </div>
        </div>
    </div>
</footer>
